*{box-sizing: border-box;margin: 0;padding: 0;}

.header
{
    height: 50px;
    /* border: 2px solid; */
    background: #000;
    color: #fff;
    display: flex;
    text-align: center;
    line-height: 50px;
}
.header i 
{
    color:#2fdab8;
}
.header .x 
{
    height: 50px;
    width: 16.66%;
    /* border: 2px solid red; */
}
.signIn,.signUp,.call,.info 
{
    border-right: 1px solid lightgray;
}
.subheader
{
    height: 150px;
    border: 2px solid;
    display: flex;
    position: relative;
}
.subheader .x 
{
    height: 150px;
    width: 33.33%;
    border: 2px solid green;
}
.searchbar
{
     height: 30%;
     width: 60%;
     margin-top: 40px;
     margin-left: 30px;
}

.search-icon
{
    height: 30%;
    width: 50px;
    background-color: cyan;
    position: absolute;
    top: 42px;
    left: 254px;

}